registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
optional=false
platform=linux
arch=x64
target_platform=linux
target_arch=x64
