# Configurações para o Vercel
omit=optional
legacy-peer-deps=true
package-lock=true
prefer-offline=true

# Configurações específicas para evitar problemas com dependências nativas
rollup-optional-deps=false
