# Configurações de otimização para o Vercel
legacy-peer-deps=true
strict-ssl=false
registry=https://registry.npmjs.org/
save-exact=false

# Configurações para resolver problemas do Rollup
optional=false
platform=linux
arch=x64
