/* ===== ESTILOS BASE ===== */
body {
  background-color: #f5eff2;
  color: #111827;
  font-feature-settings: "rlig" 1, "calt" 1;
}

* {
  outline: none;
}

main {
  min-height: 100vh;
  background-color: #f5eff2;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}
